
@{
    ViewBag.Title = "Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Training Plans - All Races</h2>
    <title>5K Marathon Training Plan</title>
<p><center><font color ="red">5K Marathon Training Plan </center></font></p>

<p>

<h4><font color="green">About 5K Training</h4></font>
The beauty of the 5K run is that it takes all comers. It's the perfect introductory distance for novice racers, as well as a challenging test of strength and speed 
for the most competitive runners. The 5K race can also be a useful part of a larger training program, building speed for runners who primarily run longer distances. 
No matter what your ability, a hard 5K run tests your capacity to maintain a fast pace over distance.

Training for this classic distance requires you to put in a careful balance of both mileage and speedwork. Cool Running's 5K training plans reflect that philosophy. 
These 5K training programs are available in four categories, from beginner to competitive, and you should have at least six months of running under your belt.

Keep in mind, of course, that there is no such thing as a one-size-fits-all training program. While the 5K training schedules offered here are solid and dependable, 
you should feel free to tinker with them and make them your own. Adapt them to your own rhythms.

By following one of these 5K training schedules, you will develop gradually through four training phases: endurance, strength, speed and tapering (for more info on these, check out "Road Rhythms," our survey of the training cycle). Before you embark on one of the 5K training plans, be sure you're in shape to follow that particular training schedule. Each 5K program includes a schedule for a "pre-training week" to help you gauge your fitness. If you are not already able to run the mileage for that week comfortably, take a few weeks to build gradually to that level, adding one mile to your long run every week. You should be able to run the 5K pre-training schedule comfortably for four to five weeks. Then lace up, you're ready for the road.

<ul>
<li>5K Training for Beginners</li>
Beginning runners, take note: we recommend that runners put off training for races until their bodies have adapted to the strain of running. Tendons and ligaments can be injured all too easily if you go from ground-zero to 5K-racing too quickly. Before you start training for your first race, establish a six-month foundation of running. During that base stage, slowly build through easy, consistent training runs as your body adapts to the rigors of the road. After that, come back and tackle one of our beginner 5K training programs.
<li>5K Training Plans for Advanced & Competitive Runners</li>
The advanced 5K training plan includes many weeks with no days off, and the competitive program has no days off at all. Instead of days of complete rest, these 5K training schedules build in easy days of relatively light mileage. There exists a philosophical difference in approach to training -- whether to take the day off entirely or simply to go light on the miles. For the advanced and competitive schedules, we've chosen the latter. For those who would prefer the former, however, those light days can be replaced by days of complete rest. Do what feels comfortable for you.
<ul>5K Training Plans</ul>
<li>Beginner 5K Training Plan & Schedule: For runners who run 15 to 25 miles per week and expect to run the 5K in 24:00 or up. You should have at least six months of running experience.</li>

<li>Intermediate 5K Training Plan & Schedule: For runners who run 25 to 50 miles per week and expect to run the 5K between 20:00 and 24:00 for men, or 22:00 and 26:00.</li>

<li>Advanced 5K Training Plan & Schedule: For runners who run 40 to 60 miles per week and expect to run the 5K between 17:00 and 20:00 for men, or 19:00 and 22:00 for women. </li>

<li>Competitive 5K Training Plan & Schedule: For runners who run over 50 miles per week and expect to run the 5K under 17:00 for men, or 19:00 for women. </li>

</ul>

</p>

<ul>
<p>
<li><h3>5K Training for Beginners</h3></li>
Beginning runners, take note: we recommend that runners put off training for races until their bodies have adapted to the strain of running. Tendons and ligaments can be 
injured all too easily if you go from ground-zero to 5K-racing too quickly. Before you start training for your first race, establish a six-month foundation of running. During that base stage, 
slowly build through easy, consistent training runs as your body adapts to the rigors of the road. After that, come back and tackle one of our beginner 5K training programs.
5K Training Plans for Advanced & Competitive Runners

</p>

<p>
<li><h3>5K Training for Advanced & Competitive Runners</h3></li>


The advanced 5K training plan includes many weeks with no days off, and the competitive program has no days off at all. Instead of days of complete rest, these 5K training schedules 
build in easy days of relatively light mileage. There exists a philosophical difference in approach to training -- whether to take the day off entirely or simply to go light on the miles. For the advanced and competitive schedules, we've chosen the latter. For those who would prefer the former, however, those light days can be replaced by days of complete rest. Do what feels comfortable for you.
5K Training Plans

</ul>
</p>


<ul><p>
<h3>5K Training Plans</h3>

<li>Beginner 5K Training Plan & Schedule: For runners who run 15 to 25 miles per week and expect to run the 5K in 24:00 or up. You should have at least six months of running experience. </li>

<li>Intermediate 5K Training Plan & Schedule: For runners who run 25 to 50 miles per week and expect to run the 5K between 20:00 and 24:00 for men, or 22:00 and 26:00. </li>

<li>Advanced 5K Training Plan & Schedule: For runners who run 40 to 60 miles per week and expect to run the 5K between 17:00 and 20:00 for men, or 19:00 and 22:00 for women. </li>

<li>Competitive 5K Training Plan & Schedule: For runners who run over 50 miles per week and expect to run the 5K under 17:00 for men, or 19:00 for women</li>

</ul>


<p>

<p><h2><center><font color ="red">Beginner 5K Training Plan </center></h2></font></p>

<p>
This program contains some speed workouts. (For more information on the types of speed workouts, we lay it all out in "The Runner's Building Blocks"). 
A few quick notes on how speedwork is described here:

The distance in parentheses below fartlek runs includes a mile each of warmup and warmdown, in addition to your fartlek sessions. Don't know what a fartlek is? 
Check out our page about "The Runner's Building Blocks".

Whenever you see a pace denoted as 5K pace or 10K pace, this refers to the speed at which you estimate you could run a 5K or 10K on that given day.
When you read "4-5 hills," that means you should do 4-5 repeats at 5K pace on a hill about 150 or 200 yards long. Long hills should be 400-600 yards long. If you find it too 
tedious to run repeats on a single hill, you can also find a route that incorporates the same number of hills, as long as the route is not very long.
When you read the notation "4 x 880s," that means you should run four repeats of 880 yards each (two laps on the track). The pace below tells you how fast you should run them. 

For 880s, give yourself 2 minutes of rest between intervals; for 440s, give yourself 1-2 minutes.
All other workouts (including the long runs) should be run at an easy training pace -- emphasis on "easy." Hold yourself back to a pace about 90 seconds or 2 minutes per mile slower 
than your current 10K pace.

Finally, the pre-training schedule. You should be able to run this schedule for four to five weeks without much discomfort before starting the 10K program. If not, give yourself some time 
to build up to that level gradually, or you may risk injury.

</p>

<p>

<img src="Beginner 5K Program PreTraining.png" alt="Beginner 5K Program PreTraining" style ="width:25%; height:35%;">
<img src="Beginner 5K  Program Schedule.png" alt="Beginner 5K Program Schedule" style ="width:25%; height:65%;">

</p>

<p><h2><center><font color ="red">Intermediate 5K Training Plan </center></h2></font></p>

<p>
This program contains some speed workouts. (For more information on the types of speed workouts, we lay it all out in "The Runner's Building Blocks"). 
A few quick notes on how speedwork is described here:

The distance in parentheses below fartlek runs includes a mile each of warmup and warmdown, in addition to your fartlek sessions. Don't know what a fartlek is? 
Check out our page about "The Runner's Building Blocks".

Whenever you see a pace denoted as 5K pace or 10K pace, this refers to the speed at which you estimate you could run a 5K or 10K on that given day.
When you read "4-5 hills," that means you should do 4-5 repeats at 5K pace on a hill about 150 or 200 yards long. Long hills should be 400-600 yards long. If you find it too 
tedious to run repeats on a single hill, you can also find a route that incorporates the same number of hills, as long as the route is not very long.
When you read the notation "4 x 880s," that means you should run four repeats of 880 yards each (two laps on the track). The pace below tells you how fast you should run them. 

For 880s, give yourself 2 minutes of rest between intervals; for 440s, give yourself 1-2 minutes.
All other workouts (including the long runs) should be run at an easy training pace -- emphasis on "easy." Hold yourself back to a pace about 90 seconds or 2 minutes per mile slower 
than your current 10K pace.

Finally, the pre-training schedule. You should be able to run this schedule for four to five weeks without much discomfort before starting the 10K program. If not, give yourself some time 
to build up to that level gradually, or you may risk injury.

</p>

<p>

<img src="Intermediate 5K Program PreTraining.png" alt="Intermediate 5K Program PreTraining" style ="width:25%; height:35%;">
<img src="Intermediate 5K Program Schedule.png" alt="Intermediate 5K Program Schedule" style ="width:25%; height:65%;">

</p>

<p><h2><center><font color ="red">5K Training Plan </center></h2></font></p>

<p>
This program contains some speed workouts. (For more information on the types of speed workouts, we lay it all out in "The Runner's Building Blocks"). 
A few quick notes on how speedwork is described here:

The distance in parentheses below fartlek runs includes a mile each of warmup and warmdown, in addition to your fartlek sessions. Don't know what a fartlek is? 
Check out our page about "The Runner's Building Blocks".

Whenever you see a pace denoted as 5K pace or 10K pace, this refers to the speed at which you estimate you could run a 5K or 10K on that given day.
When you read "4-5 hills," that means you should do 4-5 repeats at 5K pace on a hill about 150 or 200 yards long. Long hills should be 400-600 yards long. If you find it too 
tedious to run repeats on a single hill, you can also find a route that incorporates the same number of hills, as long as the route is not very long.
When you read the notation "4 x 880s," that means you should run four repeats of 880 yards each (two laps on the track). The pace below tells you how fast you should run them. 

For 880s, give yourself 2 minutes of rest between intervals; for 440s, give yourself 1-2 minutes.
All other workouts (including the long runs) should be run at an easy training pace -- emphasis on "easy." Hold yourself back to a pace about 90 seconds or 2 minutes per mile slower 
than your current 10K pace.

Finally, the pre-training schedule. You should be able to run this schedule for four to five weeks without much discomfort before starting the 10K program. If not, give yourself some time 
to build up to that level gradually, or you may risk injury.

</p>

<p>

<img src="Advanced 5K Program PreTraining.png" alt="Advanced 5K Program PreTraining" style ="width:25%; height:35%;">
<img src="Advanced 5K Program Schedule.png" alt="Advanced 5K Program Schedule" style ="width:25%; height:65%;">

</p>

<p><h2><center><font color ="red">5K Training Plan </center></h2></font></p>

<p>
This program contains some speed workouts. (For more information on the types of speed workouts, we lay it all out in "The Runner's Building Blocks"). 
A few quick notes on how speedwork is described here:

The distance in parentheses below fartlek runs includes a mile each of warmup and warmdown, in addition to your fartlek sessions. Don't know what a fartlek is? 
Check out our page about "The Runner's Building Blocks".

Whenever you see a pace denoted as 5K pace or 10K pace, this refers to the speed at which you estimate you could run a 5K or 10K on that given day.
When you read "4-5 hills," that means you should do 4-5 repeats at 5K pace on a hill about 150 or 200 yards long. Long hills should be 400-600 yards long. If you find it too 
tedious to run repeats on a single hill, you can also find a route that incorporates the same number of hills, as long as the route is not very long.
When you read the notation "4 x 880s," that means you should run four repeats of 880 yards each (two laps on the track). The pace below tells you how fast you should run them. 

For 880s, give yourself 2 minutes of rest between intervals; for 440s, give yourself 1-2 minutes.
All other workouts (including the long runs) should be run at an easy training pace -- emphasis on "easy." Hold yourself back to a pace about 90 seconds or 2 minutes per mile slower 
than your current 10K pace.

Finally, the pre-training schedule. You should be able to run this schedule for four to five weeks without much discomfort before starting the 10K program. If not, give yourself some time 
to build up to that level gradually, or you may risk injury.

</p>

<p>

<img src="Competitive 5K Program PreTraining.png" alt="Competitive 5K Program PreTraining" style ="width:25%; height:35%;">
<img src="Competitive 5K Program Schedule.png" alt="Competitive 5K Program Schedule" style ="width:25%; height:65%;">

</p>


<title>The Dingle Running Festival 10K Marathon Training Plan</title>
<p><h2><center><font color ="red">10K Marathon Training Plan </center></h2></font></p>


<p>
The 10K is the single event where any runner can enjoy the full range of everything road racing has to offer. As a test of both speed and endurance, this distance combines 
the best aspects of the 5K and marathon. That means that improving your 10K performance can put you in striking distance of improvements at those other distances as well. In fact, much of the appeal of the 10K is not only that it demands versatility of runners, but also that it helps to develop it within them. Running the 10K often means running better.

Most runners considering the 10K already have the miles under their belts to compete adequately in the distance. The challenge is to sharpen the pace through speedwork. 
Cool Running's 10K training plans are designed to develop endurance without neglecting those fast-twitch muscles.

Keep in mind, of course, that there is no such thing as a one-size-fits-all training program. While the 10K training schedules offered here are solid and dependable, you should feel free 
to tinker with them and make them your own. Adapt them to your own rhythms.

By following one of these 10K training schedules, you will develop gradually through four training phases: endurance, strength, speed and tapering (for more info on these, check out "Road Rhythms," 
our survey of the training cycle). Before you begin your 10K training, be sure you're in shape to keep up with the 10K training schedule you select. Each 10K training plan includes a schedule for a "pre-training week" to help you gauge your level of fitness. Take a few weeks to build up your running level in order to run the mileage for that week comfortably. You can do this by adding one mile to your long run each week. You should be able to run that pre-training schedule comfortably for four to five weeks before beginning the 10K training plan.

Beginning runners, take note: we recommend that runners put off training for races until their bodies have adapted to the strain of running. Tendons and ligaments can be injured all too easily if 
you go from ground-zero to 5K-racing too quickly. Before you start training for your first race, establish a six-month foundation of running. During that base stage, slowly build through easy, 
consistent training runs as your body adapts to the rigors of the road. After that, come back and tackle one of our beginner training programs.

The advanced program includes many weeks with no days off, and the competitive program has no days off at all. Instead of days of complete rest, these schedules build in easy days of relatively 
light mileage. There exists a philosophical difference in approach to training -- whether to take the day off entirely or simply to go light on the miles. For the advanced and competitive schedules, 
we've chosen the latter. For those who would prefer the former, however, those light days can be replaced by days of complete rest. Do what feels comfortable for you.

</p>

<p><h2><center><font color ="red">10K Training Plans </center></h2></font></p>

<ul>
<li>Beginner 5K Training Plan & Schedule: For runners who run 15 to 25 miles per week and expect to run the 5K in 24:00 or up. You should have at least six months of running experience. </li>

<li>Intermediate 5K Training Plan & Schedule: For runners who run 25 to 50 miles per week and expect to run the 5K between 20:00 and 24:00 for men, or 22:00 and 26:00. </li>

<li>Advanced 5K Training Plan & Schedule: For runners who run 40 to 60 miles per week and expect to run the 5K between 17:00 and 20:00 for men, or 19:00 and 22:00 for women.</li>

<li>Competitive 5K Training Plan & Schedule: For runners who run over 50 miles per week and expect to run the 5K under 17:00 for men, or 19:00 for women</li>

</ul>


<p><h2><center><font color ="red">Beginner 10K Training Plan </center></h2></font></p>

<p>
This program contains some speed workouts. (For more information on the types of speed workouts, we lay it all out in "The Runner's Building Blocks"). 
A few quick notes on how speedwork is described here:

The distance in parentheses below fartlek runs includes a mile each of warmup and warmdown, in addition to your fartlek sessions. Don't know what a fartlek is? 
Check out our page about "The Runner's Building Blocks".

Whenever you see a pace denoted as 5K pace or 10K pace, this refers to the speed at which you estimate you could run a 5K or 10K on that given day.
When you read "4-5 hills," that means you should do 4-5 repeats at 5K pace on a hill about 150 or 200 yards long. Long hills should be 400-600 yards long. If you find it too 
tedious to run repeats on a single hill, you can also find a route that incorporates the same number of hills, as long as the route is not very long.
When you read the notation "4 x 880s," that means you should run four repeats of 880 yards each (two laps on the track). The pace below tells you how fast you should run them. 

For 880s, give yourself 2 minutes of rest between intervals; for 440s, give yourself 1-2 minutes.
All other workouts (including the long runs) should be run at an easy training pace -- emphasis on "easy." Hold yourself back to a pace about 90 seconds or 2 minutes per mile slower 
than your current 10K pace.

Finally, the pre-training schedule. You should be able to run this schedule for four to five weeks without much discomfort before starting the 10K program. If not, give yourself some time 
to build up to that level gradually, or you may risk injury.

</p>


<p>

<img src="Beginner 10K Program PreTraining.png" alt="Beginner 10K Program PreTraining" style ="width:25%; height:35%;">
<img src="Beginner 10K Program Schedule.png" alt="Beginner 10K Program Schedule" style ="width:25%; height:35%;">

</p>


<p><h2><center><font color ="red">Intermediate 10K Training Plan </center></h2></font></p>

<p>
This program contains some speed workouts. (For more information on the types of speed workouts, we lay it all out in "The Runner's Building Blocks"). 
A few quick notes on how speedwork is described here:

The distance in parentheses below fartlek runs includes a mile each of warmup and warmdown, in addition to your fartlek sessions. Don't know what a fartlek is? 
Check out our page about "The Runner's Building Blocks".

Whenever you see a pace denoted as 5K pace or 10K pace, this refers to the speed at which you estimate you could run a 5K or 10K on that given day.
When you read "4-5 hills," that means you should do 4-5 repeats at 5K pace on a hill about 150 or 200 yards long. Long hills should be 400-600 yards long. If you find it too 
tedious to run repeats on a single hill, you can also find a route that incorporates the same number of hills, as long as the route is not very long.
When you read the notation "4 x 880s," that means you should run four repeats of 880 yards each (two laps on the track). The pace below tells you how fast you should run them. 

For 880s, give yourself 2 minutes of rest between intervals; for 440s, give yourself 1-2 minutes.
All other workouts (including the long runs) should be run at an easy training pace -- emphasis on "easy." Hold yourself back to a pace about 90 seconds or 2 minutes per mile slower 
than your current 10K pace.

Finally, the pre-training schedule. You should be able to run this schedule for four to five weeks without much discomfort before starting the 10K program. If not, give yourself some time 
to build up to that level gradually, or you may risk injury.



</p>


<p>

<img src="Intermediate 10K Program PreTraining.png" alt="Intermediate 10K Training Program PreTraining" style ="width:25%; height:35%;">
<img src="Intermediate 10K Program Schedule.png" alt="Intermediate 10K Training Program Schedule" style ="width:35%; height:65%;">

</p>

<p><h2><center><font color ="red">Advanced 10K Training Plan </center></h2></font></p>

<p>
This program contains some speed workouts. (For more information on the types of speed workouts, we lay it all out in "The Runner's Building Blocks"). 
A few quick notes on how speedwork is described here:

The distance in parentheses below fartlek runs includes a mile each of warmup and warmdown, in addition to your fartlek sessions. Don't know what a fartlek is? 
Check out our page about "The Runner's Building Blocks".

Whenever you see a pace denoted as 5K pace or 10K pace, this refers to the speed at which you estimate you could run a 5K or 10K on that given day.
When you read "4-5 hills," that means you should do 4-5 repeats at 5K pace on a hill about 150 or 200 yards long. Long hills should be 400-600 yards long. If you find it too 
tedious to run repeats on a single hill, you can also find a route that incorporates the same number of hills, as long as the route is not very long.
When you read the notation "4 x 880s," that means you should run four repeats of 880 yards each (two laps on the track). The pace below tells you how fast you should run them. 

For 880s, give yourself 2 minutes of rest between intervals; for 440s, give yourself 1-2 minutes.
All other workouts (including the long runs) should be run at an easy training pace -- emphasis on "easy." Hold yourself back to a pace about 90 seconds or 2 minutes per mile slower 
than your current 10K pace.

Finally, the pre-training schedule. You should be able to run this schedule for four to five weeks without much discomfort before starting the 10K program. If not, give yourself some time 
to build up to that level gradually, or you may risk injury.

</p>


<p>

<img src="Advanced 10K Program PreTraining.png" alt="Advanced 10K Training Program PreTraining" style ="width:25%; height:35%;">
<img src="Advanced 10K Program Schedule.png" alt="Advanced 10K Training Program Schedule" style ="width:35%; height:65%;">

</p>

<p><h2><center><font color ="red">Competitive 10K Training Plan </center></h2></font></p>

<p>
This program contains some speed workouts. (For more information on the types of speed workouts, we lay it all out in "The Runner's Building Blocks"). 
A few quick notes on how speedwork is described here:

The distance in parentheses below fartlek runs includes a mile each of warmup and warmdown, in addition to your fartlek sessions. Don't know what a fartlek is? 
Check out our page about "The Runner's Building Blocks".

Whenever you see a pace denoted as 5K pace or 10K pace, this refers to the speed at which you estimate you could run a 5K or 10K on that given day.
When you read "4-5 hills," that means you should do 4-5 repeats at 5K pace on a hill about 150 or 200 yards long. Long hills should be 400-600 yards long. If you find it too 
tedious to run repeats on a single hill, you can also find a route that incorporates the same number of hills, as long as the route is not very long.
When you read the notation "4 x 880s," that means you should run four repeats of 880 yards each (two laps on the track). The pace below tells you how fast you should run them. 

For 880s, give yourself 2 minutes of rest between intervals; for 440s, give yourself 1-2 minutes.
All other workouts (including the long runs) should be run at an easy training pace -- emphasis on "easy." Hold yourself back to a pace about 90 seconds or 2 minutes per mile slower 
than your current 10K pace.

Finally, the pre-training schedule. You should be able to run this schedule for four to five weeks without much discomfort before starting the 10K program. If not, give yourself some time 
to build up to that level gradually, or you may risk injury.

</p>


<p>

<img src="Competitive 10K Program PreTraining.png" alt="Competitive 10K Training Program PreTraining" style ="width:25%; height:35%;">
<img src="Competitive 10K Program Schedule.png" alt="Competitive 10K Training Program Schedule" style ="width:35%; height:65%;">

</p>

<title>The Dingle Running Festival Half Marathon Training Plan</title>
<p><h2><center><font color ="red">Half Marathon Training Plan </center></h2></font></p>


<p>

Here follow some guidelines for the marathon plans as such have been outlined experienced marathon runners

"A marathon has always been, for some, the ultimate achievement. There is a mythical aspect behind it. I receive many requests for a simple marathon training plan, 
so I have published the one I have been giving to athletes since last year. There are many plans out there on the web, people copy and replicate and most of the plans 
you can find are really well written. I have run about 25 marathons so far, with times between 2h51 to 5h21 depending on the conditions or if it was at the end of an 
Ironman triathlon. Even as a coach I always listen to people’s comments about what I should do to improve. They are not always right for me, but I always learn new things 
from them, and I do appreciate that they are taking the time to talk about their own experience. I do believe that sport is all about your own experience of it, like life is. 
We take what suit us and leave what does not because we are all different.

I usually don’t make generic plans, simply because I love tweaking things for people. My teams always say I like details and find things which work for some people and not 
for others. There is a big demand for small gains, and I can see from the huge amount of email we receive at RunIreland.com that it might be no harm to have this useful info on the site.

<p><h2><center><font color ="red">Marathon Hints </center></h2></font></p>

<p>

<ul>
<li>If you miss a session never try to catch it up, it will stress you and can lead to believing that if you miss one, then two then three sessions you will always be able to 
catch them up. The only one you will trick with this is yourself. </li>

<li>If you feel at any time soreness, you need to learn the difference between muscles tiredness, and bad pain or injuries. In the case, the answer will always be to recover, 
first for a day, then seek the advice health professional and or rest three weeks.</li>

<li>Listen to your body and don’t follow the plan too rigidly, sometimes you need to adapt it for yourself with your own timetable, family, moods etc…</li>

<li>Hydration is important especially for beginners, not just only after training as some people think but every day, carry your bottle and make sure you drink at least 2.2 to 3litres each day 
with 60% of water in your body, we lose about 1.5l of water every day through breathing, sweating and bowel movements. So if you consume 2 litres of water or other beverages a day (a little more than 8 cups)
along with your normal diet, you will typically replace the lost fluids. Nutrition, well not my speciality but I know a few simple rules if the plate that you cooked looks good and colourful it should be 
healthy. Always cook your own meal especially if you are preparing a marathon, so you know what is in it and what you like or not. Again there is lots of specialised literature and sources of information 
everywhere.
</li>
 
<li>Nutrition, well not my speciality but I know a few simple rules if the plate that you cooked looks good and colourful it should be healthy. Always cook your own meal especially if 
you are preparing a marathon, so you know what is in it and what you like or not. Again there is lots of specialised literature and sources of information everywhere.</li>

<li> In training, you need three important factors, the physical, social and psychological. They all affect each other. If you feel physically tired, then you won’t want to go out, 
and you will feel bad about it and certainly train less. Or if you feel a wee bit down, you will certainly drop the training a wee bit and maybe some social/family aspect. </li>


</ul>

</p>

<p>
"So basically just be happy to do what you do, if you miss one session to go out, that’s ok, but make sure you enjoy it. It will always be better than running and thinking 
I don’t want to train, I could have been out with my friends.

The funny part about injuries is that we always think they will go away, from personal and professional experience, an injury not treated early or in time will always take longer to 
cure than just taking three weeks off. I know lots who took twice longer to recover simply because they thought “ah sure, I will be alright!”.
To conclude this, there is no secret to run a marathon, certainly lots of tips from experience athletes, books, magazines, and website. But there is something that nobody will be able 
to do for you, and you know it, train and do the mileage.

Good luck in your training, and let us know how you get on with it."

</p>

<p><h4><i>
<br>Sebastien Locteau</br>  
Marathon Athlete
</p></h4></i>


</p>

<center>Here find below some numerical table data as general guidance for all aspiring marathon athletes</center>
<br><b></i>RunIreland</b></i></br>

<p><center>
<img src="HalfMarathon Training Schedule p1.png" alt="HalfMarathon Training Schedule p1" style ="width:850px; height:850px;">
<img src="HalfMarathon Training Schedule p2.png" alt="HalfMarathon Training Schedule p2" style ="width:850px; height:850px;">
</p></center>


<p><h2><center><font color ="red">Beginner Half Marathon Training Plan </center></h2></font></p>

<p>
The following programs contain some speed workouts. (For more information on the types of speed workouts, we lay it all out in "The Runner's Building Blocks"). 
A few quick notes on how speedwork is described here:

The distance in parentheses below fartlek runs includes a mile each of warmup and warmdown, in addition to your fartlek sessions. Don't know what a fartlek is? 
Check out our page about "The Runner's Building Blocks".

Whenever you see a pace denoted as 5K pace or 10K pace, this refers to the speed at which you estimate you could run a 5K or 10K on that given day.
When you read "4-5 hills," that means you should do 4-5 repeats at 5K pace on a hill about 150 or 200 yards long. Long hills should be 400-600 yards long. If you find it too 
tedious to run repeats on a single hill, you can also find a route that incorporates the same number of hills, as long as the route is not very long.
When you read the notation "4 x 880s," that means you should run four repeats of 880 yards each (two laps on the track). The pace below tells you how fast you should run them. 

For 880s, give yourself 2 minutes of rest between intervals; for 440s, give yourself 1-2 minutes.
All other workouts (including the long runs) should be run at an easy training pace -- emphasis on "easy." Hold yourself back to a pace about 90 seconds or 2 minutes per mile slower 
than your current 10K pace.

Finally, the pre-training schedule. You should be able to run this schedule for four to five weeks without much discomfort before starting the 10K program. If not, give yourself some time 
to build up to that level gradually, or you may risk injury.

</p>

<center>
<img src="Beginner HalfMarathon Program PreTraining.png" alt="Beginner HalfMarathon Program PreTraining" style ="width:20%; height:25%;">
<img src="Beginner HalfMarathon Program Schedule.png" alt="Beginner HalfMarathon Program Schedule" style ="width:35%; height:85%;">
</center>



<p><h2><center><font color ="red">Intermediate Half Marathon Training Plan </center></h2></font></p>


<center>
<img src="Intermediate HalfMarathon Program PreTraining.png" alt="Intermediate HalfMarathon Program PreTraining" style ="width:20%; height:25%;">
<img src="Intermediate HalfMarathon Program Schedule.png" alt="Intermediate HalfMarathon Program Schedule" style ="width:35%; height:75%;">
</center>



<p><h2><center><font color ="red">Advanced Half Marathon Training Plan </center></h2></font></p>


<center>
<img src="Advanced HalfMarathon Program PreTraining.png" alt="Advanced HalfMarathon Program PreTraining" style ="width:20%; height:25%;">
<img src="Advanced HalfMarathon Program Schedule.png" alt="Advanced HalfMarathon Program Schedule" style ="width:35%; height:85%;">
</center>



<p><h2><center><font color ="red">Competitive Half Marathon Training Plan </center></h2></font></p>
<center>
<img src="Competitive HalfMarathon Program PreTraining.png" alt="Competitive HalfMarathon Program PreTraining" style ="width:20%; height:25%;">
<img src="Competitive HalfMarathon Program Schedule.png" alt="Competitive HalfMarathon Program Schedule" style ="width:35%; height:85%;">
</center>


<p><h2><center><font color ="red">Beginner Full Marathon Training Plan </center></h2></font></p>

<p>
These programs contain some speed workouts. (For more information on the types of speed workouts, we lay it all out in "The Runner's Building Blocks"). 
A few quick notes on how speedwork is described here:

The distance in parentheses below fartlek runs includes a mile each of warmup and warmdown, in addition to your fartlek sessions. Don't know what a fartlek is? 
Check out our page about "The Runner's Building Blocks".

Whenever you see a pace denoted as 5K pace or 10K pace, this refers to the speed at which you estimate you could run a 5K or 10K on that given day.
When you read "4-5 hills," that means you should do 4-5 repeats at 5K pace on a hill about 150 or 200 yards long. Long hills should be 400-600 yards long. If you find it too 
tedious to run repeats on a single hill, you can also find a route that incorporates the same number of hills, as long as the route is not very long.
When you read the notation "4 x 880s," that means you should run four repeats of 880 yards each (two laps on the track). The pace below tells you how fast you should run them. 

For 880s, give yourself 2 minutes of rest between intervals; for 440s, give yourself 1-2 minutes.
All other workouts (including the long runs) should be run at an easy training pace -- emphasis on "easy." Hold yourself back to a pace about 90 seconds or 2 minutes per mile slower 
than your current 10K pace.

Finally, the pre-training schedule. You should be able to run this schedule for four to five weeks without much discomfort before starting the 10K program. If not, give yourself some time 
to build up to that level gradually, or you may risk injury.

</p>

<center>
<img src="Beginner Marathon Program PreTraining.png" alt="Beginner Marathon Program PreTraining" style ="width:20%; height:25%;">
<img src="Beginner Marathon Program Schedule.png" alt="Beginner Marathon Program Schedule" style ="width:35%; height:75%;">
</center>


<p><h2><center><font color ="red">Intermediate Marathon Training Plan </center></h2></font></p>


<center>
<img src="Intermediate Marathon Program PreTraining.png" alt="Intermediate Marathon Program PreTraining" style ="width:20%; height:25%;">
<img src="Intermediate Marathon Program Schedule.png" alt="Itermediate Marathon Program Schedule" style ="width:35%; height:75%;">
</center>


<p><h2><center><font color ="red">Advanced Marathon Training Plan </center></h2></font></p>


<center>
<img src="Advanced Marathon Program PreTraining.png" alt="Advanced Marathon Program PreTraining" style ="width:20%; height:25%;">
<img src="Advanced Marathon Program Schedule.png" alt="Advanced Marathon Program Schedule" style ="width:35%; height:75%;">
</center>


<p><h2><center><font color ="red">Competitive Marathon Training Plan </center></h2></font></p>
<center>
<img src="Competitive Marathon Program PreTraining.png" alt="Competitive Marathon Program PreTraining" style ="width:20%; height:25%;">
<img src="Competitive Marathon Program Schedule.png" alt="Competitive Marathon Program Schedule" style ="width:35%; height:75%;">
</center>




</div>
