
@{
    ViewBag.Title = "Raceday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Raceday Advice</h2>
    <title>Marathon Day Race Advice </title>
<p><h2><center><font color ="red">Marathon Day Race Advice</center></h2></font></p>

Marathon race day preparation can be tough to get right with so many things to consider. Here's a few practical things to plan and carry out so that you perform your best 
on marathon race day and get ready with the best possible mindset.

<p>
<br><b>1 
Plan</br></b>
If you've done the training, then the only thing that is going to impact on your performances is your organisational skills. Plan everything like a military operation, 
taking the race start time as your starting point and work back from this to create a timetable of when you are going to do everything. Remember to allow yourself around an 
hour at the at the start to get used to the surroundings.

</p>

<p>
<br><b>2 
Travel plans</br></b>
Work out your travel plans and however long you think it will take you to get to the start line, allow a little bit more to cover unforseen circumstances. Traffic may be much worse than usual, depending on the scale of the event you are in.

</p>

<p>
<br><b>3 
Pack</br></b>
Pack your bag the day before to avoid you going to bed with loads of things to remember still on your mind. Fix your number on and attach your 'ChampionChip', if it is required for that event. 
The more things you leave to race day, the more things can go wrong.

</p>

<p>
<br><b>4 
Sleep</br></b>
Sleep affects your running performance so get to bed early the night before and get yourself up early. Have a couple of alarm clocks to make sure that you can't sleep through 
if one fails in the night. Never rely on anyone else to get you up, such as a hotel receptionist, because they can easily let you down.

</p>

<p>
<br><b>5 
Eat</br></b>
Eat breakfast on race morning although don't overdo it. If you eat too much, especially too close to race time, and your body will feel sluggish. 
The evening before the big race, you should consume your big carbohydrate-rich meal. Tea and toast or a bowl of porridge should be sufficient for breakfast.

</p>

<p>
<br><b>6 
Toilet</br></b>
Take as many visits to the toilet as you think necessary, even it's just for for psychological reasons. There’s nothing worse than lining up at the start with a niggling doubt 
in the back of your mind that you haven't been enough and that you're going to get caught short during the race.

</p>

<p>
<br><b>7 
Driver</br></b>
If you're traveling to the event on the morning of the race with someone who’s not competing, then try and get them to drive, or at least do the navigating. 
The more you can free your mind up to concentrate on the race the better.

</p>

<p>
<br><b>8 
Keep warm</br></b>
Take something with you to keep warm. A majority of events start early in the morning to avoid the midday heat, so there is a very real prospect that you could 
be starting out early in the morning when it is cold. Even old clothes which you are happy to ditch could be ideal for this purpose.

</p>

<p>
<br><b>9 
Warm-up</br></b>
Warm-up for 15-20 minutes before the start with a combination of gentle running and stretching. Be sure not to stretch until you have at least warmed up the muscles. 
Just be sure not to overdo the warm up.

<p>
<br><b>10 
Relax</br></b>
Relax if you want to perform at your best. Run through a 'body scan' every 10 minutes or so to eliminate areas of tension, tightness or pain. A ten-second scan can help you keep tabs on your technique 
and make sure you relax. It also gives you an opportunity to stretch any tight areas if necessary.

</p>

    
</div>
