
@{
    ViewBag.Title = "Tips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Training Tips</h2>
    
<p>

Running a marathon is an incredible goal for runners, but marathon training and the race itself is not something to be taken lightly. 
While I think that any healthy individual who is willing to commit to the training can complete a marathon, I don't recommend that runners jump right into the marathon distance 
(26.2 miles or 42K). If you've never trained for any kind of endurance event, you should work on building your running base mileage for at least six months before you start thinking about 
training for a marathon.

Once you've established a regular running habit and are running 3-4 days a week, it's a good idea to get your feet wet by racing a shorter distance race, like a 5K (3.1 miles) or a 10K (6.2 miles) 
Many runners like to run a half marathon before taking on the full marathon. Getting some race experience is good preparation for your marathon and will get you excited to start your training.

</p>

<p>
Find a Marathon
Once you have at least six months of running (a year is even better) and a few shorter races under your belt, you can start thinking about which marathon you want to train for. There are lots of marathons to choose from. You'll have to decide whether you want to run a big or small marathon, and if you want to travel to another city (perhaps even an international destination) or stay close to home. Browse through the listings and reviews of marathons at MarathonGuide.com to get some ideas of where you might want to run. If you're looking for a U.S. marathon, check out these lists:

Beginner-Friendly U.S. Marathons
Spring U.S. Marathons
Fall U.S. Marathons
Winter U.S. Marathons
Fast U.S. Marathons
Bucket List Marathons

How to Get Started With Training
Before you get started with marathon training, here are some ways you should get prepared:

</p>

<p>
Medical check-up: Even if you've already been running, check with your doctor and let him or her know your plans to train for and run a marathon.

Running shoes, clothes, and gear: While you don't need to buy lots of expensive gear, the right running shoes is an important investment. Getting running shoes that are suitable for your running style, 
foot type, and level of experience will help you run comfortably and injury-free. Finding the right sports bra is also very important for women to stay comfortable while running. 
Wearing running clothes made of technical fabrics (not cotton) that wick away your sweat will help keep you dry and comfortable. You'll also need a good water bottle or hydration belt to hydrate during runs.


Weather: You're going to be training through different seasons and types of weather. Take some time to research what's involved with running in the hot, cold, or rainy conditions
Tips for Running in Hot Weather
Tips for Running in the Cold
Tips for Running in the Rain

Marathon Training Schedules
Once you've established a running base of about 15 miles a week, you can get started with a Beginner Marathon Training Schedule. The schedule is geared towards beginner runners whose goal is to 
simply finish the marathon. If you prefer to use a run/walk strategy for training and completing your marathon, use this Run/Walk Marathon Training Schedule.


Not a beginner? If you find those marathon training plans to be too easy for your level, check out more marathon training schedules. Yasso 800s are a popular workout among runners who are trying to
achieve a specific marathon goal.

</p>

<p>
Nutrition and Hydration
If you already eat a healthy diet, you don't have to make too many changes when you start training for a marathon. The recommendations for distance runners are not that different than nutritional 
guidelines for non-runners. Many marathoners-in-training wonder if it's necessary to take supplements or vitamins during training, but it's actually better to get your nutrients from whole foods 
rather than supplements. You can talk to your doctor to find out if you have any deficiencies that would require supplementation.

</p>

<p>

Pre-run eating: It's important to make sure that you're properly fueled for your runs to get the most out of them. Try to eat a snack or light meal of about 250-300 calories about 1 1/2 to 2 hours 
before you start running. Eating immediately before running may lead to cramping, and running on an empty stomach may cause you to run out of energy.

Choose something high in carbohydrates and lower in fat, fiber, and protein. Some examples of good pre-workout fuel include: a bagel with peanut butter; a banana and an energy bar; or a bowl of cold cereal with a cup of milk. Avoid rich, very fatty, or high-fiber foods, as they may cause gastrointestinal distress. See also: Best and Worst Pre-run Foods

</p>

<p>
Post-run eating: After running, especially a long run, you want to replenish energy as quickly as possible. Studies have shown that muscles are most receptive to rebuilding glycogen (stored glucose) 
stores within the first 30 minutes after exercise. If you eat soon after your runs, you can reduce muscle stiffness and soreness.

You'll want to consume primarily carbs, but don't ignore protein. A good rule of thumb for post-run food is a ratio of 1 gram of protein to 3 grams of carbs. Nutrition bars, such as Power bars or Luna bars, are convenient options. Other examples would be a bagel with peanut butter or a smoothie made with fruit and yogurt.

Long run nutrition: Long runs have their own special nutrition and hydration requirements, so make sure you're prepared heading into your long runs. For example, you'll need to make sure you drink sports drinks to replace sodium lost through sweat during runs longer than 90 minutes.

You'll also have to consume calories during your long runs and marathon since you'll be burning through your glycogen storage. A basic rule of thumb is that you should be taking in about 100 calories after about an hour of running and then another 100 calories every 40-45 minutes after that. You may need more depending on your size and speed, so make sure you plan to carry extra food or gels. If you're feeling hungry or low on energy, you can definitely eat "off-schedule".

</p>

<p>
Marathon Training Challenges
Training for a marathon requires not only physical and mental strength, but incredible dedication, especially when dealing with the following challenges:

Long Runs: Your most important training run each week is your long run, which you'll most likely run on either Saturdays or Sundays. You'll gradually increase the distance of your long run each week, 
usually by no more than one or two miles per week, to make sure you're physically and mentally ready for the distance and avoid the risk of injuries. For most runners, their longest run will be 20 miles. 
Running longer can be a tough mental and physical challenge, but here are some tips on running farther to help you increase your distance.

The main purposes of your long run are to build your endurance, practice spending lots of time on your feet, teach your body to burn fat as fuel and to build physical and mental strength in preparation 
for the marathon. Follow these long run tips to help make them easier and more comfortable and to get the most out of your long runs.

Injuries & Illnesses: Most running injuries can be prevented by wearing the proper shoes, stretching post-run, and not doing too much too soon. However, despite your best injury prevention efforts, you may have to deal with some of the common running injuries. The good news is that many running injuries respond well to self-treatment.

Staying Motivated: Marathon training is a long process, and sometimes your motivation to get out there and run may be lacking. Follow these running motivation tips to help keep you going.

Mental Preparation: One thing you'll probably hear from veteran marathon runners is that so much of the race is mental. Yes, the mental aspects of running 26.2 miles can be just as difficult as the 
physical challenge. Use these mental preparation tips to help get you through the 26.2 miles. If you're dealing with some pre-race anxiety, try some of these strategies for dealing with pre-race jitters.

Marathon Tapering
The tapering period is a critical part of your marathon training. During the last couple of weeks of your training, it's important that you taper, or cut back your mileage, to give your body and mind a chance to rest, recover and prepare for your marathon. Follow these general tapering guidelines for the two-week period before your marathon.

Marathon Day Preparations
The days leading up to marathon day can be anxiety-ridden. If your marathon is out of town, it's important to start packing early, so you make sure you don't forget anything. 
Follow this marathon packing list for a guide to everything you need. Packing early and starting to get everything ready will help ease some of your anxiety.

Many marathon runners have trouble sleeping the night before their race. Try not to stress about it -- as long as you get decent sleep in the week leading up to your marathon, and especially two nights before the race, you'll be well-rested for the race. If you have pre-race insomnia, lay in bed and force yourself to at least rest your body. You don't need to run the day before your marathon, although some runners like to do a slow, easy 20-minute run, just to stay loose. You should to rest and stay off your feet as much as possible. The day before a marathon is also not the time to experiment with any new foods. Stick to your tried-and-true pre-long run favorites, so you won't have any surprises on marathon day. The morning of the marathon can be especially nerve-wracking.

Make sure to give yourself plenty of time to get to the start, so you have time to use the bathroom, check your bag, and line up properly. More: What to Do the Morning of Your Marathon Make sure that you get your friends and family on board to give you good support at the marathon. Give them a copy of the race course map and tell them your estimated pace, so they'll know when to expect to see you. Share these marathon spectator tips and ideas for inspiring marathon signs with them.

</p>

<p>
Racing Strategies
Running a marathon is a tremendous mental challenge because it requires you to push through mental barriers and to make smart, strategic decisions through the race. One of the biggest mistakes 
first-time marathoners make is that they start out the race too fast. You'll definitely feel good during those first few miles, so it's tempting to push the pace. But you'll pay for it in the later miles. 
Here are tips on how to avoid starting out too fast and other tips to avoid hitting the wall, as well as other racing mistakes to avoid.

Marathon Recovery
Your marathon recovery starts the second you cross that finish line. How you take care of yourself in the hours following the race can determine how quickly you'll recover. For example, it's important that you hydrate and eat something soon after you cross the finish line. You also want to walk around for at least 10 minutes to bring your heart rate down safely and avoid the risk of blood pooling in your legs. Try to resist the urge to immediately plop down on the ground -- your legs will stiffen up right away if you do. Follow these additional recovery tips to help 
with your marathon recovery.

</p>
    
    
    
</div>

