
@{
    ViewBag.Title = "Updated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Update Successful</h3>
    <p>Thank you, your order details have been updated.</p>
    @Html.ActionLink("Go to Account Home", "Index", "Account")
    <p></p>
</div>