
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!-- START OF SHOWCASE SECTION -->
<!-- Slideshow container -->
<div class="showcase-slideshow-container">

    <div class="showcaseSlides fade">
        <img src="~/Content/Images/slider1.jpg" alt="runners looking tired" style="width:100%" class="block">
    </div>

    <div class="showcaseSlides fade">
        <img src="~/Content/Images/slider2.jpg" alt="runner giving thumbs up with sea in background" style="width:100%" class="block">
    </div>

    <div class="showcaseSlides fade">
        <img src="~/Content/Images/slider3.jpg" alt="runners starting race" style="width:100%" class="block">
    </div>

    <div class="showcaseSlides fade">
        <img src="~/Content/Images/slider4.jpg" alt="runner smiling during race" style="width:100%" class="block">
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusShowcaseSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusShowcaseSlides(1)">&#10095;</a>

    <!-- The dots/circles -->
    <div class="showcase-dot-container">
        <span class="showcase-dot" onclick="currentShowcaseSlide(1)"></span>
        <span class="showcase-dot" onclick="currentShowcaseSlide(2)"></span>
        <span class="showcase-dot" onclick="currentShowcaseSlide(3)"></span>
        <span class="showcase-dot" onclick="currentShowcaseSlide(4)"></span>
    </div>
</div>
<!-- END OF SHOWCASE SECTION -->

@Html.Partial("_Newsletter")*@

<!-- START OF MAIN CONTENT -->
<div class="container">
    <h2>Frequently Asked Questions</h2>
    <button class="accordion">When will I receive my race pack?</button>
    <div class="panel">
        <p>
            For all participants who have registered and living in the area, the race packs will be posted a couple of months before
            the race. For other categories of participants, the policy is to pick up the race pack anytime during the last week before the
            race starts from the local office. Please find the address at the bottom of the page or go to our <a href="contact.html">contact us</a> page.
        </p>
        <p>
            For last minute arrivals, race packs will be distributed at the race kiosk at the LATEST 30 mins before the race.
        </p>
    </div>

    <button class="accordion">What time do the races start?</button>
    <div class="panel">
        <p>Both the Full and Half Marathon races start together at 9am sharp. Please arrive at the start line early, we would recommend to be there by 8:30am at the latest. </p>
        <p>The 10K race will start at 9.30am and the Family 5K will start at 10am. We recommend entrants for these races to be at the start line at least 15 minutes before the start.</p>
    </div>

    <button class="accordion">Where can I park my car? How can I get to the race start?</button>
    <div class="panel">
        <p>
            There will be free shuttle buses to and from the start/finish areas for participants and supporters.
            These will operate from Dingle town where car parking facilities will be provided.
            However, it is recommended to arrive early to find an empty parking space.
        </p>
    </div>

    <button class="accordion">Can volunteers assist during the festival?</button>
    <div class="panel">
        <p>
            Absolutely, volunteers are an essential part of making the event run smoothly.
            Please contact us if you are interesting in lending a hand on the day and we will assign you to be part of the support team in areas including baggage reclaim,
            helping out at water stations, supporting the participants, handing out medals, etc. We’d love to hear from you, please get in touch.
        </p>
        <p>
            If you're part of a community, sports or social group who would be interested in getting involved we would love to hear from you too, so please email us at <a href="mailto:volunteers@dinglerunningfestival.ie">volunteers@dinglerunningfestival.ie</a>.
        </p>
    </div>

    <button class="accordion">What refreshements and toilets are available on the course?</button>
    <div class="panel">
        <p>Marathon - On the marathon course there are 8 water stations at 3km, 8km, 14km, 18.5km, 22km, 28km, 33km and 38km. In addition to water, jellies and bananas are provided at 8km with jellies, bananas, Lucozade Sport and energy gels at 14km, 22km and 28km.</p>
        <p>On the half-marathon course there are 4 water stations at 3km, 8km, 14km and 18.5km. In addition to water, jellies and bananas are provided at 8km with jellies, bananas, Lucozade Sport and energy gels at 14km.</p>
        <p>On the 10K course there are 3 water stations at 3 km, 5.5km and 8km. In addition to water, jellies and bananas are provided at 5.5km.</p>
        <p>On the 5K course there are 2 water stations at 2 km and 3.5km. In addition to water, jellies and bananas are provided at these stations also.</p>
        <p>Toilets are positioned at all the water stations listed above along with other intermediate positions along the courses.</p>
    </div>

    <button class="accordion">What are the preferred methods of payment?</button>
    <div class="panel">
        <p>Our preferred methods of payment are by debit or credit card such as Visa, MasterCard and American Express.</p>
    </div>

    <button class="accordion">Can I walk the half and full marathons?</button>
    <div class="panel">
        <p>
            Yes absolutely. Walkers are extremely welcome and hundreds of walkers partake every year. In fact, we think it is a fabulous way to enjoy the bautiful Dingle Peninsula scenery in all its glory.
        </p>
        <p>
            Please be advised that there is a 3 hours and 30 minute (gun time) cut off for the half marathon and 6 hour (gun time) cut off for the full marathon.
            At this point you must either leave the course which we will facilitate or continue the remainder of the route as a normal pedestrian and no marathon resources will be available to you after this time.
            Please do not attempt the course if you do not think you can complete it within the above times.
        </p>
    </div>

    <button class="accordion">Will there be an official timing?</button>
    <div class="panel">
        <p>
            Yes. Your race bib number contains a built in timing chip. In order for same to work you must wear your race number TO THE FRONT. Your race number is your timing chip, keep this exposed as much as possible. No number, no race!
        </p>
        <p>Your official results will be posted on <a href="~/Views/Result/Search.cshtml">http://www.dinglerunningfestival.ie</a> shortly after the event.</p>
    </div>

    <button class="accordion">Is there a minimum age for participating?</button>
    <div class="panel">
        <p>Yes, for the 10K, Half-Marathon and Marathon races, all runners/walkers must be 18 or over by the day of the event.</p>
        <p>For the Family 5K, all runners/walkers must be 13 or over by the day of the event.</p>
    </div>

    <button class="accordion">In case of medical assistance, what should I do?</button>
    <div class="panel">
        <p>
            Please write your details and medical information on the reverse of your bib number in order that our first aid teams and medical staff can quickly learn of any medical issues that you may have.
        </p>
        <p>
            First Aid personnel are strategically positioned in and around the route to assist any runners and also to ensure no disruption to normal day to day services.
            First aid staff are available at all water stations, the start line, the finish lines and in mobile response vehicles.
        </p>
        <p>
            Please inform any steward or race official if you need medical assistance and they will arrange same for you immediately.
            It is strongly recommended that you consult your doctor if you have any doubt about your health or fitness level.
            If you are not currently involved in a physical sporting activity, you should seek medical advice before entering the event.
        </p>
    </div>

    <button class="accordion">Where can i leave my rucksack/backpack?</button>
    <div class="panel">
        <p>
            Your race pack contains a sticker with your race number on it. Please attach this to your bag in advance. One small bag per person is permitted.
            Please do not place valuable items, or items that may be easily damaged, in your baggage. Any discarded clothing will be given to charity.
        </p>
        <p>
            Full Marathon – bags must be handed in at the “Full Marathon Baggage” van and the start line. Your bag will then be ready for collection at the finish line.
        </p>
        <p>
            Half Marathon – bags must be handed in at the “Half Marathon Baggage” van and the start line. Your bag will then be ready for collection at the finish line.
        </p>
        <p>
            10K and 5K – bags must be handed in at the “10K/5K Baggage” van and the start line. Your bag will then be ready for collection at the finish line.
        </p>
    </div>

    <button class="accordion">How can i withdraw or swap the race type?</button>
    <div class="panel">
        <p>
            If you need to withdraw from the race there is no action for you to take. We regret that we can not provide refunds as race supplies are ordered months in advance. This does not affect your statutory rights.
        </p>
        <p>
            If needed we will accommodate you moving to another race as best as we can. Please login to your account and choose the transfer to another race option.
        </p>
    </div>
</div>
<!-- END OF MAIN CONTENT -->



<!-- Javascript for FAQ Accordian -->
<script>
    var accordion = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < accordion.length; i++) {
        accordion[i].addEventListener("click", function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>