
@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Site Map</h2>
  


    <a href ="#>HOME</a>
    <a href ="Races.html">RACES</a> 
    <a href= "Training.html">TRAINING</a>                    
    <a href= "FAQ.html">FAQ</a>
    <a href= "Results.html>RESULTS</a>        
    <a href= "Contact.html">CONTACT</a>
    <a href= "Account.html">ACCOUNT</a>

</div>
