
@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Site Map</h2>
    
    <center><title><font color = "red">Web Site Map</title></center></font>

 <center>Web Site map

<p>
<a href="Home.html">HOME</a> |
<a href="Boston Marathon"> THE DINGLE RUNNING FESTIVAL MARATHON EVENTS </a> |
<a href="Registration.html">REGISTRATION </a>  |
<a href="Results.html">RESULTS  </a>   |
<a href="E-shop.html">E-SHOP </a>  |
<a href="TermsConditions.html">TERMS & CONDITIONS </a>  |
<a href="News.html">NEWS </a> |
<a href="Media.html">MEDIA </a>  |
<a href="FAQ.html">FAQ   </a>  |
<a href="Gallery.html">GALLERY </a>   |
<a href="Contact.html">CONTACT </a>   |
<a href ="AboutUs.html">ABOUT US  </a>  |

</p>
</center>
  
</div>
