
@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Site Map</h2>
    
    <a href ="#>HOME</a>
    <a href ="races.html">RACES</a>
    <a href ="training.html">TRAINING</a>  
    <a href= "FAQ.html">FAQ</a>
    <a href= "results.html">RESULTS</a>        
    <a href= "contact.html">CONTACT</a>
    <a href= "account.html">ACCOUNT</a>
</div>
