
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <center><font color = "blue"><h2>TERMS & CONDITIONS</h2></center></font>
   
<p>
This section details the marathon rules and guidelines that are intended to help organize a large scale event, 
to ensure the safety of participants and overall to meet the requirements of local municipality permits and 
to be compliant with USA and International Association of Athletics Federation (IAAF) regulations for participants 
performance records and health safety event liability. 
</p>


<p>

The Dingle Running Festival Marathon course of 26.2 miles (42.2km) and the half-marathon course of 13.1 miles (21.1km) will be accredited by Athletics Ireland 
and the International Association of Athletics Federations (IAAF). Officials from Athletics Ireland will oversee compliance with the race regulations.

It is recommended for all athletes to read the following terms & conditions and the disclaimer. In order to participate, all runners must agree to in order to run with us next September 2019.

</p>

<b><font color= "blue">Pre-Race</b></font>

<p>
<ul>
<li>Participants in the marathon, half marathon, 10K and 5K races must be 18 years old or over on race day </li>
The closing date for entries is Friday 10th August 2019 </li>
<li>Entries will not be accepted by email or by fax </li>
<li>Each entry must be accompanied by the appropriate fee, and that fee is not refundable </li>
<li>Transfers between categories are not allowed, and your entry cannot be transferred to another person. Please get in touch with the Marathon office if you really can’t make 
the race and want to transfer your entry to someone. Please do not, under any circumstance, let them run in your place </li>
<li>Entry can only be deferred by agreement with the marathon office and on submission of a medical cert. in advance of close of entries </li>
<li>For the Team Relay, the entry form should be completed by the Team Captain. The Captain must also complete the team members’ details and sign the form on their behalf </li>

</ul>
</p>

<p>
When you complete your entry online, you’ll receive emailed confirmation from Event Master. The confirmation email will contain a link to your registration sheet. You’ll need to bring a copy of that (either printed or on your smart device) to Registration. If you haven’t given us an email address with a hard-copy form, we’ll post the confirmation to you.
Whether you are entering the Marathon, the Half Marathon or either Family 5K or 10K race type, it is strongly recommended that you consult your doctor if you have any doubt about your health or fitness. 
If you are not currently involved in a physical sporting activity, you should seek medical advice before entering the Dingle Running Marathon Event.
Once your entry is confirmed, participation in the 2019 Dingle Marathon Running Event is guaranteed. However, you must attend registration in Dingle City Hall on Saturday 1st June (10am–8pm) to collect 
your race pack. For relay teams, there’s an option to register on Thursday 30th May (4–7pm) – that’s to allow distribution of race packs to team members before race day. 

If you can’t make registration, someone can register on your behalf. Just make sure they have confirmation of your entry and that they know your date of birth.
For teams, only one member needs to register and collect the team’s packs.
Course
</p>



<p>
Unauthorised bicycles and motorized vehicles are forbidden on the courses. Athletes who are aided or paced by persons on bicycles will be disqualified from the race. No aids such as roller- or in-line skates are permitted on the courses.
Race officials or the medical or emergency services may stop any competitor from continuing the race for medical or safety reasons.
There’s an official 6-hour limit on the course. After that, the Gardaí will begin to re-open all roads to traffic. If you’re on the marathon course after 6 hours, you may be asked to move onto the 
footpaths to complete your race. In that case, you must obey the normal rules of the road. Within reason, the finish line will stay in place until everybody’s across.
Apart from the finish line, there are two time-critical points on the marathon/relay course:
</p>

<p>
<br>1) you must be through the Jack Lynch Tunnel 2 hours after the start; </br>
    2) you must be off the South Link Road (N27) 3.5 hours after the start.
</p>

<p>
Electronic timing chips will be used for all marathon and half-marathon participants and for the finishing member of each relay team. Your official time will be starting-gun-to-chip.
We operate a ‘one person, one prize’ policy, so if you win a prize in more than one category you’ll be awarded the prize of the greater amount. Equal prizes will be offered for male and female races. 
There must be at least three entries in a category to qualify as a prize-winning category.
Important Notice for All Participants. Entries will not be processed unless the disclaimer on the entry form is signed or the disclaimer on-line is accepted.
I declare that I will be 18 years of age or over on 29th September 2019 and that I will abide by the laws and rules of the Athletics Association of Ireland (AAI). I will not compete in the race unless 
I am medically fit to do so on the day of the race. I understand the demanding physical nature of the event and accept that I will be participating entirely at my own risk. I accept that Dingle Council, 
its Servants or Agents, the Dingle Marathon Committee, its Members, Associates, Partners and Sponsors will not be liable for any loss, damage, illness or injury whatsoever directly or indirectly occasioned 
by or resulting from my participation in the marathon.  I accept that the Organisers, their Sponsors and Partners will not be liable for any action, claim, costs or expenses that may arise in consequence 
of my participation of the event.

By signing this form, or accepting the statement online, I also give my permission to the race organizers GTi Running Events to use my photographic image (and those of my team members) for promotional and marketing purposes for the marathon.

</p>

<p>
<b><font color = "blue">IMPORTANT NOTICE</b></font>
Entries will not be processed unless the disclaimer on the entry form is signed or the disclaimer on-line is accepted.

</p>

<p>
"I declare that I will be 18 years of age or over on the 29th of September 2019 and that I will abide by the laws and rules of the Athletics Association of Ireland (AAI). I will not compete in the 
race unless I am medically fit to do so on the day of the race. I understand the demanding physical nature of the event and accept that I will be participating entirely at my own risk. 
I accept that Dingle City Council, its Servants or Agents, the Dingle Marathon Committee, its Members, Associates, Partners and Sponsors will not be liable for any loss, damage, illness or 
injury whatsoever directly or indirectly occasioned by or resulting from my participation in the marathon.  I accept that the Organisers, their Sponsors and Partners will not be liable for 
any action, claim, costs or expenses that may arise in consequence of my participation of the event.

By signing this form, or accepting the statement online, I also give my permission to Dingle Marathon Running Events Ltd. to use my photographic image (and those of my team members) for promotional 
and marketing purposes for the marathon."

</p>

<p>
<br>Full Name:				</br>	


<br>Date:					   </br>

	
<br>Signature:					</br>				

</p>


<p><b><font color= "blue">IMPORTANT NOTICE</b></font></p>

<p>
All participants entry fees are NON-refundable and the Dingle Marathon Running Festival  Ltd. organizing committee retains the right to refuse entry to anyone declaring false registration information 
on the entry form, not making the required payment, or otherwise failing to meet the regulated stated entry requirements

</p>
</div>
