<!-- START OF NEWSLETTER SECTION -->
<section id="newsletter">
    <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form onsubmit="return confirm('Thank you for subscribing.');">
            <input type="email" placeholder="Enter Email..." id="txt_newsletter">
            <button type="submit" class="newsletterBtn">Subscribe</button>
        </form>
    </div>
</section>
<!-- END OF NEWSLETTER SECTION -->
