@if (Session["name"] != null)
{
    <span>Welcome @Session["name"]</span>
    @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "register" })
}
else
{
    @Html.ActionLink("Login /", "Login", "Account", null, new { @class = "register" })
    @Html.ActionLink(" Register", "Register", "Account", null, new { @class = "register" })
}
