
@{
    ViewBag.Title = "Family5K";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2><center>Family 5K</h2></center>

    <p>

    <img src="~/Content/Images/DingleKerrymarathon8.jpg" alt="DingleKerrymarathon8" style="width:450px; height:450px">
    <img src="~/Content/Images/DingleKerrymarathon9.jpg" alt="DingleKerrymarathon9" style="width:450px; height:450px">
    <img src="~/Content/Images/DingleMarathonpic1.jpg" alt="DingleMarathonpic1" style="width:450px; height:450px;">

    </p>

    The 5K run is the shortest type of race over a distance of five kilometres (3.107 miles).

    All runners are advised to read the map carefully to familiarize themselves with the route.  Finally at the finishing line at the end of the race, there will be given
    snacks and refreshments
    
        <p>
         
         Important Notice: All runners are recommended to have a look at the map picture as a guide for the race route path
         
        <img src="~/Content/Images/dingle-map.png" alt="dingle-map" style="width:35%; height:45%;">
   
        
        </p>
    
    <p>
        Participation Fee:
        The participation fee for this race is 25 &euro; which includes a race pack

        Registation closes at midnight, Thursday August 1st, 2019. However, due to the populariry of the race, it is recommended to make an early registration.</br>

        For any questions prior to registration, please do not hesitate email us at <address>
            <a href="mailto:registration@dinglerunningfestival.ie">The Dingle Running Festival Queries</a>
        </address>

    </p>


    <p>

        Start Time:  The race starts at 9am sharp on Saturday 7th September 2019. It is recommended for all athletes to arrive at the start line
        early, so the policy of the organizers for this marathon race is to allow participants by 8:30am at the latest.

        Prizes:  All participants will receive a T-shirt with the name of the race printed on it
        Snacks and refreshments will be served at the finishing line

        In addition there will be medal prizes for the wheelchair category for all those who accomplished to finish off the race
  
   
       <p>
        <img src="~/Content/Images/MoRunner2018_T-shirtpic2.jpg" alt="MoRunner2018_T-shirt" style="width:250px; height:250px;">
        <img src="~/Content/Images/MoRunner2018_T-shirt.jpg" alt="MoRunner2018_T-shirt" style="width:250px; height:250px;">
       </p>

    </p>

    <p>
        Medical Assistance:
        First Aid personnel will be positioned in and around the route to assist any runners as well as to ensure no disruption to normal day to day services
        Medical Aid staff are available at all water stations, start and finish line as well as mobile patrol response vehicles.

        Please do consult your GP before registering for this event so as to ensure for you good physical sporting activity. However, it is STRONGLY suggested that each paticipant informs on the
        attached uniform sticker any medical condition problems.

    </p>


</div>
