
@{
    ViewBag.Title = "HalfMarathon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Half Marathon</h2>


    <img src="~/Content/Images/DingleKerrymarathon3.jpg" alt="DingleKerrymarathon3" style="width:35%; height:45%;">
    <img src="~/Content/Images/DingleKerrymarathon4.jpg" alt="DingleKerrymarathon4" style="width:550px; height:350px;">
    <img src="~/Content/Images/DingleKerrymarathon6.jpg" alt="DingleKerrymarathon6" style="width:35%; height:45%;">
    <img src="~/Content/Images/DingleKerrymarathon7.jpg" alt="DingleKerrymarathon7" style="width:550px; height:350px;">

    <p>
        A Half Marathon is a road running event of 21.0975 km (13 mi 192½ yd)—half the distance of a marathon.

        The Half Marathon finishes near the small village of Dunquin outside the door of Kruger's Pub!  What better place to finish? </br> Half Marathon finishers
        take the opportunity to enjoy a well-deserved refreshment at Kruger’s Pub before returning by complimentary buses which are laid on to return them to Dingle Town, to continue the celebrations
        and welcome home the Full Marathon participants. </br>We were the proud winners of the "Half Marathon of the Year" in 2015, 2016 and again in 2017 in the Running in Ireland Race Awards.

        All the information written below is a quick guide for all the participants of this race but if there are more questions, it is recommended to read more at the FAQ guide at the respective
        section of this site.


    </p>

     <p>
         
         Important:  All runners are recommended to have a look at the picture below as a guide for the race route path
         
        <img src="~/Content/Images/dingle-map.png" alt="dingle-map" style="width:35%; height:45%;">
   
        
     </p>
      

    <p>
        Participation Fee:
        The participation fee for this race is 60 &euro; which includes the race pack. Check in other section to see the pack contents

        Registation closes at midnight, Thursday August 1st, 2019. However, due to the populariry of the race, it is recommended to make an early registration as this event becomes sold out early.

        For any questions prior to registration, please do not hesitate email us at <address> <a href="mailto:registration@dinglerunningfestival.ie">The Dingle Running Festival Queries</a></address>

    </p>


    <p>
        Start Time:  The race starts at 9am sharp on Saturday 7th September 2019. It is recommended for all runners to arrive at the start line early, so the policy of the organizers for this marathon race is
        to allow participants by 8:30am at the latest

        Prize:  For this race, there will be medal prizes for the first three (3) positions as well as medals for the first male and first
        female to finish off the race.  Moreover there will be cash prizes from our sponsors to reward the efforts of the runners for their accomplishment.

        In addition there will be prizes for the wheelchair category with medals for all those who accomplished to finish off the race

        All participants will receive the marathon tops, t-shirt and cups with the race logo printed on the uniform items.

        Snacks and refreshments will be served at the finishing line

    <p>
        <img src="~/Content/Images/MoRunner2018_T-shirtpic2.jpg" alt="MoRunner2018_T-shirt" style="width:150px; height:150px;">
        <img src="~/Content/Images/MoRunner2018_T-shirt.jpg" alt="MoRunner2018_T-shirt" style="width:150px; height:150px;">
        <img src="~/Content/Images/DingleMarathonHoodie.jpg" alt="DingleMarathonHoodie" style="width:150px; height:150px;">
        <img src="~/Content/Images/DingleMarathonHoodiepic2.jpg" alt="DingleMarathonHoodiepic2" style="width:150px; height:150px;">
    </p>


    During the race, there will be given water, jelly, yoghurt and fuits supplies as well as Lucozade Sport and energy drinks during
    the race at 3 mile intervals. There will be given snack and water supplies at the finish line as well.  However, it is advised not to throw
    bottles or rubbish over the fences or walls during the race course but instead discard them inside the bins provided about 200 metres beyond each water station.

    </p>

    <p>PLEASE RESPECT THE ENVIRONMENT AND DEMONSTRATE GOOD ATTITUDE TOWARDS THE REST PARTICIPANTS IN THE RACE</p>

    <p>
        Finally there will be chemical cabinet toilets for the runners during the course of the race as this is a policy of the organizing race

        Medical Assistance:
        First Aid personnel will be positioned in and around the route to assist any runners as well as to ensure no disruption to normal day to day services
        Medical Aid staff are available at all water stations, start and finish line as well as mobile patrol response vehicles.

        Please do consult your GP before registering for this event so as to ensure for you good physical sporting activity. However, it is STRONGLY
        suggested that each paticipant informs on the attached uniform sticker any medical condition problems.
    </p>


</div>
