
@{
    ViewBag.Title = "Marathon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Full Marathon</h2>
    
    <p>


       <p>
        <img src="~/Content/Images/DingleKerrymarathon1.jpg" alt="DingleKerrymarathon1" style="width:35%; height:45%;">
        <img src="~/Content/Images/DingleKerrymarathon2.jpg" alt="DingleKerrymarathon2" style="width:550px; height:350px;">
        <img src="~/Content/Images/DingleMarathonpic4.jpg" alt="DingleMarathonpic4" style="width:35%; height:45%;">
        <img src="~/Content/Images/DingleMarathonpic2.jpg" alt="DingleMarathonpic2" style="width:550px; height:350px;">

        </p>

     <p>
     
        The marathon is a long-distance race, completed by running, walking, or a run/walk strategy. There are also wheelchair divisions.
        The marathon has an official distance of 42.195 kilometres (26.219 miles; 26 miles 385 yards),[1] usually run as a road race.

        The Full Marathon continues north and east from Dunquin through to wild open countryside, moving inland to the village of Ballyferriter.
        The spectacular scenery continues to keep the spirits alive and once you are through the beautiful village of Ballyferriter, your journey
        continues on with some very special views of Murreagh. A challenging part of the course lies ahead, with a tough uphill climb around mile 22
        so be prepared to keep some fuel in the tank. Once you have conquered this section, you will be at a point where you can see over the entire landscape,
        covering a long straight stretch before returning to the finish line at the Dingle Marina.


        The Full Marathon has a number of challenging sections but it is however a hugely rewarding achievement.
           
      </p>
    
        <p>
         
         Important:  All runners are recommended to have a look at the picture below as a guide for the race route path
         
        <img src="~/Content/Images/dingle-map.png" alt="dingle-map" style="width:35%; height:45%;">
   
        
         </p>
    
    
    
    <p>

        All the information written below is a quick guide for all the participants of this race but if there are more questions, it is recommended to read more at the FAQ guide at the respective
        section of this site. 

        Participation Fee:
        The participation fee for this race is 80 &euro; which includes the race pack. Check in other section to see the pack contents

        Registation closes at midnight, Thursday August 1st, 2019. However, due to the populariry of the race, it is recommended to make an early registration as this event becomes sold out early.


        For any questions prior to registration, please do not hesitate email us at
        
      
            <a href="mailto:registration@dinglerunningfestival.ie">The Dingle Running Festival Queries</a>
        

            <p>
                Start Time:  The race starts at 9am sharp on Saturday 7th September 2019. It is recommended for all athletes to arrive at the start line
                early, so the policy of the organizers for this marathon race is to allow participants by 8:30am at the latest

                Prize:  For this race, there will be prizes for the first three (3) positions as well as medals for the first male and first
                female to finish off the race. Moreover there will be cash prizes from our sponsors to reward the efforts of the runners for their accomplishment.


                Prizes:  For this race, there will be medal prizes for the first three (3) positions as well as medals for the first male and first
                female to finish off the race.  Moreover there will be cash prizes from our sponsors to reward the efforts of the runners for their accomplishment.


                All participants will receive the marathon tops, t-shirt and cups with the race logo printed on them. There will be
                cash prices for the first three athletes finishing off the race

                In addition there will be medal prizes for the wheelchair category for all those who accomplished to finish off the race

                Snacks and refreshments will be served at the finishing line

           </p>                         
                
            <p>
                <img src="~/Content/Images/MoRunner2018_T-shirtpic2.jpg" alt="MoRunner2018_T-shirt" style="width:150px; height:150px;">
                <img src="~/Content/Images/MoRunner2018_T-shirt.jpg" alt="MoRunner2018_T-shirt" style="width:150px; height:150px;">
                <img src="~/Content/Images/DingleMarathonHoodie.jpg" alt="DingleMarathonHoodie" style="width:150px; height:150px;">
                <img src="~/Content/Images/DingleMarathonHoodiepic2.jpg" alt="DingleMarathonHoodiepic2" style="width:150px; height:150px;">
            </p>

    </p>       
     
        <p>
            In addition there will be medal prizes for the wheelchair category for all those who accomplished to finish off the race

            During the race, there will be given water, jelly, yoghurt and fuits supplies as well as Lucozade Sport and energy drinks during
            the race at 3 mile intervals. There will be given snack and water supplies at the finish line as well.  
            However, it is advised not to throw bottles or rubbish over the fences or walls during
            the race course but instead discard them inside the bins provided about 200 metres beyond each water station. 
            PLEASE RESPECT THE ENVIRONMENT AND DEMONSTRATE GOOD ATTITUDE TOWARDS THE REST PARTICIPANTS IN THE RACE

        Finally there will be chemical cabinet toilets for the runners during the course of the race so as to ensure for good hygiene practices
        </p>

        <p>
            Medical Assistance:
            First Aid personnel will be positioned in and around the route to assist any runners as well as to ensure no disruption to normal day to day services
            Medical Aid staff are available at all water stations, start and finish line as well as mobile patrol response vehicles.

            Please do consult your GP before registering for this event so as to ensure for you good physical sporting activity. However, it is STRONGLY suggested that each paticipant informs on the
            attached uniform sticker any medical condition problems.
        </p>
    
</p>

</div>
